@import "../../../variables.scss";

.footer {
  min-height: 25vh;
  background-color: #e0f2f1;
  padding-top: 20px;
  font-family: $daycare-font;
}

.footer-content {
  margin-bottom: 20px;
  font-family: $daycare-font;
}

i {
  color: $daycare-blue;
  font-size: 18px;
  vertical-align: middle;
}

a {
  color: $daycare-blue;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  font-family: $daycare-font;

  &:hover {
    color: $daycare-blue;
  }
}

.footer-copyright {
  font-size: 10px;
  font-weight: bold;
  color: #555;
  margin-top: auto;
  font-family: $daycare-font;

  p {
    margin: 0;
  }
}
