<footer class="footer flex-col a-items-center">
  <div class="flex-col a-items-center footer-content txt-center gap">
    <div class="flex j-content-center a-items-center">
      <i class="fas fa-map-marker-alt mr-1"></i>Rua JC 36 A, Q. 10 L. 13/14, Jd. Curitiba I, Goiânia - GO, 74481-080
    </div>
    <div class="flex a-items-center">
      <i class="fas fa-phone mr-1"></i><span class="space mr-2">(62) 3210-7436</span>
      <i class="fas fa-envelope mr-1"></i> <a href="mailto:crechecasadocaminho@gmail.com">crechecasadocaminho&#64;gmail.com</a>
    </div>
    <div class="flex j-content-center a-items-center">
      <p>
        <i class="far fa-clock mr-1"></i>Segunda a Sexta, das 7h às 18h
      </p>
    </div>
  </div>

  <div class="footer-copyright flex j-content-center txt-center">
    <p>&copy; {{ currentYear }} Creche Casa do Caminho. Todos os direitos reservados.</p>
  </div>
</footer>
