<header class="header">
  <div class="logo">
    <a routerLink="/" routerLinkActive="active-link"><img src="../../../assets/imgs/logo/logo-creche.svg" alt="Logo da Creche" /></a>
  </div>
  <div class="banner">
    <img src="../../../assets/imgs/banner/banner-creche.svg" alt="Banner da Creche" />
  </div>
</header>
<div class="menu-buttons">
  <a mat-raised-button routerLink="/" routerLinkActive="active-link">Página Inicial</a>
  <a mat-raised-button routerLink="/gallery" routerLinkActive="active-link">Galeria de Fotos</a>
  <a mat-raised-button routerLink="/club" routerLinkActive="active-link">Clube do Livro</a>
  <a mat-raised-button routerLink="/donate" routerLinkActive="active-link">Doações online</a>
</div>
