<header class="flex">
  <a routerLink="/" routerLinkActive="active-link"><img class="logo" src="../../../assets/imgs/logo/logo-creche.svg" alt="Logo da Creche" /></a>
  <div class="flex-col">
    <img class="banner" src="../../../assets/imgs/banner-placeholder.png" alt="Banner da Creche" />
    <div class="flex j-content-evenly">
      <a mat-raised-button routerLink="/" routerLinkActive="active-link">Página Inicial</a>
      <a mat-raised-button routerLink="/gallery" routerLinkActive="active-link">Galeria de Fotos</a>
      <a mat-raised-button routerLink="/club" routerLinkActive="active-link">Clube do Livro</a>
      <a mat-raised-button routerLink="/donate" routerLinkActive="active-link">Doações online</a>
    </div>
  </div>
</header>
