<div class="homepage-header">
  <h2>CONHEÇA NOSSO TRABALHO</h2>
</div>
<div class="homepage-intro">
  <p>
    Em atividade desde 1991, oferecendo educação infantil, alimentação,
    cuidados, suporte psicossocial e muito amor para
    <span class="detach">mais de 200</span> bebês e crianças entre 0 e 5 anos de
    idade, em situação de vulnerabilidade social, sem cobrar nenhum centavo por
    isso.
  </p>
</div>
<div class="carousel-container">
  <app-carousel></app-carousel>
</div>
<div class="homepage-intro">
  <p>
    Nossas práticas de ensino são fortemente estruturadas em metodologias
    pedagógicas que buscam não só promover o ensino obrigatório, mas também a
    formação de indivíduos saudáveis que convivem em harmonia com o ambiente
    familiar, com a sociedade e com o meio ambiente.
  </p>
</div>
<div class="calendar-container">
  <app-calendar></app-calendar>
</div>
