@import '../../../variables.scss';

.button-row {
  position: relative;
}

.button-container {
  position: absolute;
  top: 40px;
  right: 20px;
  background-color: $grey-color-lighter;
  border-radius: 4px;
  margin: 5px;
}

.mat-mdc-button:not(:disabled) {
  color: $black-primary-color;
}

.mat-mdc-button {
  padding: 10px 20px;
}

.mat-mdc-button span {
  margin-left: 15px;
  margin-right: 5px;
}

.button-container button:hover mat-icon {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}