@import '../../../../variables.scss';

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;

  .carousel-item {
    display: none;
    text-align: center;

    &.active {
      display: block;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 1rem;
    }
  }

  .carousel-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    button {
      border: none;
      background: none;
      cursor: pointer;
      transition: color 0.3s;

      mat-icon {
        font-size: 24px;
        color: $daycare-blue;
      }

      &:hover {
        color: $daycare-blue;
        background-color: $daycare-hover-blue-transparent;
      }

      &.active {
        font-weight: bold;
      }
    }

    .dots {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #cfcfcf;
        margin: 0 5px;
        padding: 0;
        min-width: 0;
        transition: background-color 0.3s;

        &.active {
          background-color: #3f51b5; /* Cor do tema primário do Angular Material */
        }
      }
    }
  }
}
