@import '../../../../variables.scss';

.calendar-container {
  width: 50%;
  margin: 0 auto 5rem auto;
  font-family: Arial, sans-serif;

  h2 {
    font-size: 1.5rem;
    color: $daycare-blue;
    font-family: "Inter", sans-serif;
    font-weight: 700;
  }

  .calendar-table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-inline: auto;
    font-family: "Inter", sans-serif;


    th, td {
      border: 1px solid $grey-color-lighter;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: $daycare-blue;
      color: white;
    }

    tr:nth-child(even) {
      background-color: $grey-color-lighter;
    }

    tr:hover {
      background-color: $daycare-hover-blue-transparent;
    }
  }
}
