// Main Colors

$blue-primary-color: #058acd;
$black-primary-color: #000000;


// Shade colors
$blue-selected-acorddion-color: #40afe7;
$blue-not-selected-acorddion-color: #71c9f5;
$blue-item-table-color: #58b1de;


// Secondary Colors
$red-error-message-color: #d43136;
$purple-button-message-color: #9709e3;
$grey-color: #979797;
$grey-color-lighter: #f0f0f0;


//Font style and size

$button-font-size: 12px;