<div class="club-container">
  <h1>Clube do Livro</h1>
  <p>
    O Clube do Livro da nossa creche é uma iniciativa voltada para aqueles que
    desejam ajudar nos custos de manter as instituições de caridade, ao mesmo
    tempo em que recebem mensalmente em sua casa nossa seleção de livros de
    romances, <em>best-sellers</em> e obras que enriquecem nossa bagagem e
    aquecem nossa alma.
  </p>
  <h2>Como Funciona</h2>
  <p>
    Funciona como uma assinatura: a cada mês, no dia que você escolher,
    entregaremos um novo livro em sua residência. Em algumas ocasiões, você
    também receberá fotos das crianças que você ajuda, para que veja o impacto
    positivo que faz na vida delas! Pode acreditar, elas são muito gratas por
    isso.
  </p>
  <h2>Contato</h2>
  <p>Para assinar o Clube do Livro, entre em contato:</p>
  <ul>
    <li>
      <strong>Nome:</strong> Joaquim Alves do Prado Filho – Presidente e
      Fundador das Creches
    </li>
    <li><strong>Telefone:</strong> (62) 3210-7436 / (62) 3298-1491</li>
  </ul>
  <div class="whatsapp-container flex a-items-center">
    <p class="whatsapp-message">Assine também por WhatsApp</p>
    <a
      href="https://api.whatsapp.com/send?phone=5511987654321&text=Olá, gostaria de mais informações sobre o Clube do Livro."
      class="whatsapp-float"
      target="_blank"
    >
      <img src="../../../../assets/imgs/whatsapp-icon.png" alt="WhatsApp" />
    </a>
  </div>
</div>
